._4xk0{border-radius:0 0 3px 3px;border-top:1px solid #dddfe2;height:36px}._4xk1{height:20px;margin:8px;width:20px}._4xk2{font-size:12px;margin-top:12px}
._1nby{border:none;margin-bottom:10px}

#bootloader_eEzHU{height:42px;}.bootloader_eEzHU{display:block!important;}